<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
 
   <servlet>
      <servlet-name>Initialize</servlet-name>
      <servlet-class>servlet.Initialize</servlet-class>
       <load-on-startup>1</load-on-startup>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
 <!--
   <servlet-mapping>
      <servlet-name>Initialize</servlet-name>
      <url-pattern>/Initialize</url-pattern>
   </servlet-mapping>
 -->   
   
    <servlet>
      <servlet-name>HandleXMLQuery</servlet-name>
      <servlet-class>servlet.HandleXMLQuery</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>HandleXMLQuery</servlet-name>
      <url-pattern>/XMLQuery</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>ViewStatusMessages</servlet-name>
    <servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewStatusMessages</servlet-name>
    <url-pattern>/lbClassicStatus</url-pattern>
  </servlet-mapping>
  
  
     <!-- terminology information -->
  
  <servlet>
    <servlet-name>GetTerminologyDescriptionFile</servlet-name>
    <servlet-class>servlet.GetTerminologyDescriptionFile</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetTerminologyDescriptionFile</servlet-name>
    <url-pattern>/GetTerminologyDescriptionFile</url-pattern>
  </servlet-mapping>
  
       <!-- context timeline -->
  <servlet>
    <servlet-name>GetTimeline</servlet-name>
    <servlet-class>servlet.GetTimeline</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetTimeline</servlet-name>
    <url-pattern>/GetTimeline</url-pattern>
  </servlet-mapping>
  
         <!-- event description in timeline -->
  <servlet>
    <servlet-name>GetEventDescriptionTimeline</servlet-name>
    <servlet-class>servlet.GetEventDescriptionTimeline</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetEventDescriptionTimeline</servlet-name>
    <url-pattern>/GetEventDescriptionTimeline</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>CheckConnection</servlet-name>
    <servlet-class>servlet.CheckConnection</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckConnection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  
</web-app>
