/*
[id^=numeric]{
height:300px!important;
}
[id^=numeric] > div:first-child {
  float:left;
  height:300px !important;
  
}

[id^=numeric] > div:last-of-type {
  float:right;
  height:300px !important;
}

*/


/*
#plots {
  display: flex;
}

.plots > div {
  flex: 1;
}

/* pour aligner les piecharts : 
[id^=piechartN] {
display: inline-block;
}
*/



/* nom de la variable de chaque plot affichée dans un h4 */
[id^=plots] div > h4 {
  background-color: #f0f0f0;
  font-size: 200%;
  text-align: center;
}

/* centrer les plots */
[id^=plots] div {
  margin:auto;
}



.Npatients{
font-size: 200%;
text-align: center;
margin-left: 40px;
}
