/*
 * alltrees est l'id contenant tous les shinytree ; 
 * float left permet de les aligner horizontalement et display:flex empeche le retour à la ligne, il faut scroller vers la droite s'il y a trop d'éléments pour l'écran
 * 
 * */
#alltrees > div {
 float:left;
}

#alltrees {
display:flex;
}

/*
.bouttons > button {
    display: flex;
    align-items: center;
}
*/

/*
 * h4 : titre des shiny tree 
 * bouttons : bouttons supprimer left ou right aligner dans le div
 * */

#alltrees h4{
text-align:center;
}

#alltrees .bouttons{
display:block;
text-align:center;
}


/*
 * A voir pour ajouter du texte près des bouttons :  https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip
 * */
