/* event N de chaque radiobutton affichée dans un h4 */
#sankey_explication ~ div > h4 { /*// ~ : pour les siblings */
  background-color: #f0f0f0;
  font-size: 150%;
  text-align: center;
}

/* Espace en dessous le petit texte d'explicatoin */
#sankey_explication{
margin-bottom:50px;
}

/* titre : Diagramme de Sankey */
#sankey_titre{
text-align:center; 
background-color:#F0F0F0; 
font-size:200%;
}
