[id^=numeric]{
height:300px!important;
}
[id^=numeric] > div:first-child {
  float:left;
  height:300px !important;
  
}

[id^=numeric] > div:last-of-type {
  float:right;
  height:300px !important;
}

/*
#plots {
  display: flex;
}

.plots > div {
  flex: 1; /*grow*/
}
*/
/* pour aligner les piecharts : 
[id^=piechartN] {
display: inline-block;
}
*/
